<div class="card card-spj-default shadow-sm m-1">
  <div class="card-body pt-2">
    <div class="mb-1">
      <% creature_resource.tags.each do |tag| %>
        <%= render "creatures/tag_badge", tag: tag %>
      <% end %>
    </div>
    <div>
      <%= resource_type_icon(creature_resource.resource_type) %>
      <% if creature_resource.url.present? %>
        <%= link_to creature_resource.title, creature_resource.url, { target: "_blank", class: "fw-bolder stretched-link"} %>
      <% else %>
        <span class="fw-bolder"><%= creature_resource.title %></span>
      <% end %>
    </div>
    <div class="small"><%= creature_resource.description %></div>
  </div>
</div>
<% if current_user&.admin? %>
  <div class="text-xs text-end d-admin">
    Admin Only:
    <%= link_to shift_resource_order_path(id: creature_resource.id, direction: "up"), data: { turbo_method: :patch } do %>
      <i class="fa-solid fa-caret-up me-1"></i>Up
    <% end %>
    <%= link_to shift_resource_order_path(id: creature_resource.id, direction: "down"), data: { turbo_method: :patch } do %>
      <i class="fa-solid fa-caret-down me-1"></i>Down
    <% end %> | 
    <%= link_to "Edit", edit_creature_resource_path(creature_resource), data: { turbo: false } %> | 
    <%= link_to "Destory", creature_resource, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
