<div id="<%= dom_id creature_resource %>" class="card card-spj-default shadow-sm m-1">
  <div class="card-body pt-2">
    <div class="mb-1">
      <% creature_resource.tags.each do |tag| %>
        <%= render "creatures/tag_badge", tag: tag %>
      <% end %>
    </div>
    <div>
      <%= resource_type_icon(creature_resource.resource_type) %>
      <% if creature_resource.url.present? %>
        <%= link_to creature_resource.title, creature_resource.url, { target: "_blank", class: "fw-bolder stretched-link"} %>
      <% else %>
        <span class="fw-bolder"><%= creature_resource.title %></span>
      <% end %>
    </div>
    <div class="small"><%= creature_resource.description %></div>
  </div>
</div>
<div class="text-xs text-end d-admin">
  Admin Only:
  <%= link_to "Show", creature_resource_path(creature_resource) %> | 
  <%= link_to "Edit", edit_creature_resource_path(creature_resource) %>
</div>
