<%= form_with(model: creature) do |f| %>
  <% if creature.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(creature.errors.count, "error") %> prohibited this creature from being saved:</h2>

      <ul>
        <% creature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="mb-3">
      <%= f.label :english_name %>
      <%= f.text_field :english_name %>
    </div>

    <div class="mb-3">
      <%= f.label :scientific_name %>
      <%= f.text_field :scientific_name %>
    </div>

    <div class="mb-3">
      <%= f.label :twulshootseed %>
      <%= f.text_field :twulshootseed %>
    </div>

    <div class="mb-3">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="mb-3">
      <%= f.label :featured_image %>
      <%= f.file_field :featured_image %>
    </div>

    <div class="mb-3">
      <%= f.label :additional_images %>
      <%= f.file_field :additional_images, multiple: true %>
    </div>
    
    <%= f.submit %>
  </div>
<% end %>
