<% content_for :title, @creature.english_name %>

<p style="color: green"><%= notice %></p>

<div class="small mb-3">
  <%= link_to creatures_path do %>
    <i class="fas fa-arrow-left"></i> Back to the list
  <% end %>
</div>

<div class="mb-2">
  <h1 class="fs-1 fw-bolder mb-1"><%= @creature.english_name %></h1>
  <div class="fst-italic small"><%= @creature.scientific_name %></div>
  <div class="small"><%= @creature.twulshootseed %></div>
</div>

<div class="mb-3">
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-brands fa-facebook small text-muted"></i>
  </a>
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-brands fa-x-twitter small text-muted"></i>
  </a>
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-regular fa-envelope small text-muted"></i>
  </a>
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-regular fa-copy small text-muted"></i>
  </a>
</div>

<div class="mb-3">
  <span class="fw-bold">Quick Description: </span>
  <%= simple_format @creature.description %>
</div>

<div id="links" class="mb-2">
  <h2 class="fs-4"><i class="fa-solid fa-share-from-square text-black-50 small me-2"></i>Resources</h2>
  <hr class="mt-1">
  <% 10.times do %>a<br><% end %>
</div>

<div id="photos" class="mb-2">
  <h2 class="fs-4"><i class="fa-solid fa-images text-black-50 small me-2"></i>Additional Photos</h2>
  <hr class="mt-1">
</div>

<div id="related" class="mb-2">
  <h2 class="fs-4"><i class="fa-solid fa-seedling text-black-50 small me-2"></i>Related Species</h2>
  <hr class="mt-1">
</div>

<div id="posts" class="mb-3">
  <h2 class="fs-4"><i class="fa-solid fa-comments text-black-50 small me-2"></i>Community Posts</h2>
  <hr class="mt-1">
</div>

<div class="mb-2">
  <span>Admin Only: </span>
  <%= link_to "Edit", edit_creature_path(@creature) %> |
  <%= link_to "Destroy", @creature, method: :delete %>
</div>

<div class="mb-3">
  <span class="small text-muted">Last updated at: <%= @creature.updated_at.strftime("%Y-%m-%d") %></span>
</div>

<%= render "creatures/mobile_bottom_nav" %>
