<% content_for :title, @creature.english_name %>

<p style="color: green"><%= notice %></p>

<%= link_to "â† Back to the list", creatures_path %>

<div class="my-3">
  <h1 class="fs-1 fw-bolder mb-1"><%= @creature.english_name %></h1>
  <div class="fst-italic"><%= @creature.scientific_name %></div>
  <div><%= @creature.twulshootseed %></div>
</div>

<div class="small">
  <%= simple_format @creature.description %>
</div>

<div id="links">
  <h2>Links</h2>
  <hr class="mt-1">
</div>

<div id="photos">
  <h2>Photos</h2>
  <hr class="mt-1">
</div>

<div id="related">
  <h2>Related Species</h2>
  <hr class="mt-1">
</div>

<div id="posts">
  <h2>Community Posts</h2>
  <hr class="mt-1">
</div>

<div class="my-3">
  <span>Admin Only: </span>
  <%= link_to "Edit", edit_creature_path(@creature) %> |
  <%= link_to "Destroy", @creature, method: :delete %>
</div>

<%= render "creatures/mobile_bottom_nav" %>
