<% content_for :title, @creature.english_name %>

<p style="color: green"><%= notice %></p>

<div class="small mb-3">
  <%= link_to creatures_path do %>
    <i class="fas fa-arrow-left"></i> Back to the list
  <% end %>
</div>

<div class="mb-2">
  <h1 class="fs-1 fw-bolder mb-1"><%= @creature.english_name %></h1>
  <div class="fst-italic small"><%= @creature.scientific_name %></div>
  <div class="small"><%= @creature.twulshootseed %></div>
</div>

<div class="mb-3">
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-brands fa-facebook small text-muted"></i>
  </a>
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-brands fa-x-twitter small text-muted"></i>
  </a>
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-regular fa-envelope small text-muted"></i>
  </a>
  <a href="https://google.com" class="btn btn-outline-secondary rounded-pill" target="_blank">
    <i class="fa-regular fa-copy small text-muted"></i>
  </a>
</div>

<div class="mb-3">
  <span class="fw-bold">Quick Description: </span>
  <%= simple_format @creature.description %>
</div>

<div id="links" class="mb-4">
  <h2 class="fs-4"><i class="fa-solid fa-share-from-square text-black-50 small me-2"></i>Resources</h2>
  <hr class="mt-1">

  <% if @creature_resources.present? %>
    <% @creature_resources.each do |creature_resource| %>
      <%= render "creatures/creature_resource_card", creature_resource: creature_resource %>
    <% end %>
  <% else %>
    <div class="text-center small text-muted pt-1 pb-2">There are no resources registered yet. Please check back again in a few days! <i class="fa-solid fa-face-dizzy"></i></div>
  <% end %>
  
</div>

<div id="photos" class="mb-4">
  <h2 class="fs-4"><i class="fa-solid fa-images text-black-50 small me-2"></i>Additional Photos</h2>
  <hr class="mt-1">
</div>

<div id="related" class="mb-4">
  <h2 class="fs-4"><i class="fa-solid fa-seedling text-black-50 small me-2"></i>Related Species</h2>
  <hr class="mt-1">
</div>

<div id="posts" class="mb-4">
  <h2 class="fs-4"><i class="fa-solid fa-comments text-black-50 small me-2"></i>Community Posts</h2>
  <hr class="mt-1">
  <div class="d-sm-block d-grid gap-2 mb-3">
    <a href="#!" class="btn btn-spj-primary"><i class="fa-solid fa-hand me-2"></i>I found it!</a>
    <a href="#!" class="btn btn-spj-outline-primary"><i class="fa-solid fa-comment me-2"></i>Share Your Story</a>
  </div>

  <% if @creature_comments.present? %>
    
  <% else %>
    <div class="text-center small text-muted pt-1 pb-2">There is no comment...just yet. You can be the first one! <i class="fa-solid fa-face-smile-wink"></i></div>
  <% end %>
</div>

<div class="mb-2">
  <span>Admin Only: </span>
  <%= link_to "Edit", edit_creature_path(@creature) %> |
  <%= link_to "Destroy", @creature, method: :delete %>
</div>

<div class="mb-3">
  <span class="small text-muted">Last updated at: <%= @creature.updated_at.strftime("%Y-%m-%d") %></span>
</div>

<%= render "creatures/mobile_bottom_nav" %>
