<%= form_with(model: tag) do |f| %>
  <% if tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-index">
    <tr>
      <th style="width: 20%;"><%= f.label :name %></th>
      <td style="width: 80%;"><%= f.text_field :name, class: "form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :color %></th>
      <td><%= f.text_field :color, { class: "form-control", placeholder: "#000000" } %></td>
    </tr>
  </table>

  <%= f.submit "Save Tag", class: "btn btn-spj-primary" %>
<% end %>
