<div id="<%= dom_id tag %>" class="border p-2 m-1">
  <div>Name: <%= tag.name %></div>
  <div>Color: <%= tag.color %></div>
  <div class="mb-2"><%= render "creatures/tag_badge", tag: tag %></div>
  <div>
    <%= link_to "Edit", edit_tag_path(tag) %> | 
    <%= link_to "Delete", tag, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>

