<div id="<%= dom_id creature_resource %>" class="border p-2 m-1">
  <div>Creature: <%= creature_resource.creature.english_name %></div>
  Title: <%= link_to creature_resource.title, creature_resource.url %>
  <div>Type: <%= creature_resource.resource_type %></div>
  <div class="small"><%= creature_resource.description %></div>
  <div><%= link_to "Details", creature_resource_path(creature_resource) %></div>
</div>
