<div id="<%= dom_id creature_resource %>" class="border p-2 m-1">
  <div>Creature: <%= link_to creature_resource.creature.english_name, creature_path(creature_resource.creature) %></div>
  Title: <%= link_to creature_resource.title, creature_resource.url %>
  <div>Type: <%= creature_resource.resource_type %></div>
  <div>Tags: <%= creature_resource.tags.pluck(:name).join(", ") %></div>
  <div class="small"><%= creature_resource.description %></div>
  <div>
    <%= link_to "Details", creature_resource_path(creature_resource) %> |
    <%= link_to "Edit", edit_creature_resource_path(creature_resource) %> |
    <%= link_to "Destroy", creature_resource, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>
