<%= form_with(model: creature_resource) do |f| %>
  <% if creature_resource.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(creature_resource.errors.count, "error") %> prohibited this creature_resource from being saved:</h2>

      <ul>
        <% creature_resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% if creature.present? %>
      <%= f.hidden_field :creature_id, value: creature.id %>
    <% else %>
      <div>
        <%= f.label :creature_id %>
        <%= f.collection_select :creature_id, Creature.all, :id, :english_name, {}, {class: ""} %>
      </div>
    <% end %>

    <div>
      <%= f.label :resource_type %>
      <%= f.select :resource_type, CreatureResource.resource_types.keys.map {|k| [I18n.t("enums.creature_resource.resource_type.#{k}"), k]}, {}, {class: ""} %>
    </div>

    <div>
      <%= f.label :url %>
      <%= f.url_field :url %>
    </div>

    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div>
      Tags (multiple ok)
      <div>
        <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name do |tag| %>
          <% checked = creature_resource.tags.pluck(:name).include?(tag.text) %>
          <div class="d-inline-block me-2"><%= tag.label { tag.check_box(class: "me-1", checked: checked) + tag.text } %></div>
        <% end %>
      </div>
    </div>
  
    <%= f.hidden_field :return_path, value: creature_url(creature) if creature.present? %>
    <%= f.submit "Save", { class: "btn btn-spj-primary" } %>
  </div>
<% end %>
